
.mainContainter{
  width:680px;
}
.mainContainter h4{
  text-align: center;
}

.messagebox{
  max-height: 300px;
  overflow: auto;
}

h5{
  margin-bottom: 20px;
  text-align: center;
}

.messageInput[data-isVisible="false"], .loginBox[data-isVisible="true"]{
  display:none;
}

.loginBox[data-isVisible="false"], .messageInput[data-isVisible="true"]{
  display:bloack;
}

.sendBtn{
  float:right;
}

.card .card-content{
  padding: 15px;
}
